@model SecurityManager.Models.AppModels.ReporteAccidente

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ReporteAccidente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Accidente" class="control-label"></label>
                @Html.DropDownList("Accidente", new List<SelectListItem>
               {
                   new SelectListItem{Text="Accidente menor (raspaduras, golpes)"},
                   new SelectListItem{Text="Accidente moderado (cortes, heridas)"},
                   new SelectListItem{Text="Accidente grave (requiere hospitalizacion)"}
               }, "Escoger Tipo de accidente")
                @*<input asp-for="Accidente" class="form-control" />*@
                <span asp-validation-for="Accidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
